
.same-vertical {    
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
}
#homePage {
    background: url(/picture/background.jpg);
}
#xmasPage {
     background: url(/picture/snowfall.gif);
}

.row{
    text-align: center;
}
.space {
    text-align: center;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: #ffffff;
    box-shadow: 0 20px 20px 20px;
}


#canvas {
  background-color: #ffffff;
  position: absolute;
  border-top: dashed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: url('/picture/cursor.cur'), auto;
  
}
#canvas:active {
  cursor: url('/picture/cursor.cur');

}

* {
  padding:0;
  margin:0;
}

#tools {
  background-color: #AAAAAA;
  left: 55px;
  top: 100px;
  position: absolute;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: smaller;
  padding: 3px;
  width: 150px;
  height: 30px;
  opacity: 1;
  border-radius: 6px;
  display: inline-block;
  
}

#status {
  color: black;
  position: absolute;
  cursor: default;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  bottom: 10px;
  left: 40%;

}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

.footer-center2 {
    
    border-top: solid;
    border-color: white;
    color: blue;
}
#homePage footer {
  background: url('/picture/footer.jpg');
}

.submenu {
    border-radius: 6px;
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: #323232;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    opacity: 1;
}

.color-icon {
    border-radius: 6px;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.menu-item {
    width: 44px;
    height: 44px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}
